body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 100px auto;
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

h1 {
  color: #222;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  margin-top: 30px;
  padding: 14px 30px;
  background-color: #24292e;
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #000;
}



p {
  color: #555;
  font-size: 18px;
}
